<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap-5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesomw-6.3.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="/lib/fontawesomw-6.3.0//css/brands.min.css">
    <link rel="stylesheet" href="/lib/fontawesomw-6.3.0//css/solid.min.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/ViewAdmin.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-xl fixed-top ">
        <div class="container-fluid">
            <div class=" d-flex flex-row-reverse">
                <div class="d-flex justify-content-end">
                    <a class="navbar-brand" href="/admin">
                        <img src="https://www.uts.edu.co/sitio/wp-content/uploads/2019/10/Logo-UTS-1.png" class="img-nav" class="d-inline-block align-text-top">
                    </a>

                </div>
            </div>
            <div>
                <ul class="d-flex justify-content-end" style=" margin: 0 !important;">
                    <div class="" id="div_user">
                        <span><%= perfil %></span>
                        <i class="fa-solid fa-user fa-xl"></i>
                    </div>
                    <button class="d-flex" type="button" id="cogs">
                        <i class="fa-regular fa-compass fa-spin-pulse"></i>
                    </button>
                </ul>
            </div>
        </div>
    </nav>

