<div>
    <div class="modal fade" id="modal_new_building" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-plus fa-8x"></i>
                        </div>
                        <label for="">¿Estas seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estas seguro que deseas crear este nuevo edificio?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button id="modal_create_building" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_display_building" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-trash-alt fa-8x"></i>
                        </div>
                        <label for="">¿Estas seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estas seguro/a que deseas eliminar este edificio?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button id="modal_delete_building" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_update_building" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-pencil fa-8x"></i>
                        </div>
                        <label for="">¿Terminaste tu edición?</label>
                        <div class="container-finish-modal">
                            <label>¿Estas seguro/a que deseas guardar los cambios realizados sobre este
                                edificio?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button type="button" class="btn btn-secondar " id="modal-edit-building"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_new_floor" tabindex="-1"
         aria-labelledby="modal_img_profile" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content container-modal">
                <button type="button" class="btn-close" id="close_modal_form_floor" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div style="width: 100%">
                    <span class="titles_on_view">Agregar nuevo piso</span>
                    <form action="" id="new_floor" style="display: flex;
    flex-direction: column;
    align-items: center;">
                        <div class="form-floating mb-3 " style="width: 100%;">
                            <input type="text" class="form-control styles-font-input"
                                   name="name_floor_new" id="input_new_floor_name"
                                   placeholder="Nombre" style="margin-top: 2%;height: 10%;">
                            <label for="input_new_building_name">Numero del piso</label>
                        </div>
                        <button type="submit"
                                class="btn-accept" style="display: flex; align-items: center; justify-content: center;">
                            Aceptar
                        </button>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="view_display_area" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">

                            <i class="fa-solid fa-location-dot fa-8x"></i>
                        </div>
                        <label for="">¿Estas seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estas seguro/a que deseas revisar las area del edificio?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <form id="formbuilding" action="/area" method="post">
                            <input type="text" name="ID" id="id_area">
                            <input type="text" name="Name" id="name_area">
                            <button type="submit" id="submitarea"></button>
                        </form>
                        <button id="modal_view_area" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

