<div>
    <div class="modal fade" id="modal_new_equipment" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-plus fa-8x"></i>
                        </div>
                        <label for="">¿Estas seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estas seguro que deseas crear este nuevo equipo?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button id="modal_create_equipment" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>s
        </div>
    </div>
    <div class="modal fade" id="delete_display_equipment" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-trash-alt fa-8x"></i>
                        </div>
                        <label for="">¿Estas seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estas seguro/a que deseas eliminar este equipo?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button id="modal_delete_equipment" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_update_equipment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-pencil fa-8x"></i>
                        </div>
                        <label for="">¿Terminaste tu edición?</label>
                        <div class="container-finish-modal">
                            <label>¿Estas seguro/a que deseas guardar los cambios realizados sobre este
                                equipo?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button type="button" class="btn btn-secondar " id="modal-edit-equipment" data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_img_profile_container" tabindex="-1"
         aria-labelledby="modal_img_profile" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content container-modal">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div class='container-modal-image'>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <input type="file" id="imgInput" accept="image/*">
                    <label for="imgInput" id="imgInputLabel" class="btn-examine">Examinar</label>
                    <button type="button" id="btn_save_img_user" data-bs-dismiss="modal"
                            class="btn-accept">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>