<div>
    <div class="modal fade" id="modal_new_campus" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-plus fa-8x"></i>
                        </div>
                        <label for="">¿Estás seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estás seguro que deseas crear está nueva regional?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button id="modal_create_campus" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_display_campus" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-trash-alt fa-8x"></i>
                        </div>
                        <label for="">¿Estás seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estás seguro/a que deseas eliminar está regional?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button id="modal_delete_campus" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="view_display_building" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">

                            <i class="fa-solid fa-building-user fa-8x"></i>
                        </div>
                        <label for="">¿Estás seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estás seguro/a que deseas revisar los edificios de la regional?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <form id="formbuilding" action="/bulding" method="post">
                            <input type="text" name="ID" id="id_building">
                            <button type="submit" id="submitbuilding"></button>
                        </form>
                        <button id="modal_view_building" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_update_campus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-pencil fa-8x"></i>
                        </div>
                        <label for="">¿Terminaste tu edición?</label>
                        <div class="container-finish-modal">
                            <label>¿Estás seguro/a que deseas guardar los cambios realizados sobre esta
                                regional?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button type="button" class="btn btn-secondar " id="modal-edit-campus" data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>