<div>
    <div class="modal fade" id="modal_new_space" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-plus fa-8x"></i>
                        </div>
                        <label for="">¿Estás seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estás seguro/a que deseas crear un nuevo espacio?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button id="modal_create_space" type="button" class="btn btn-secondar"
                                data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_update_space" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-pencil fa-8x"></i>
                        </div>
                        <label for="">¿Terminaste tu edición?</label>
                        <div class="container-finish-modal">
                            <label>¿Estás seguro/a que deseas guardar los cambios realizados sobre este espacio?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button type="button" class="btn btn-secondar " id="modal-edit-space" data-bs-dismiss="modal">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_new_typespace" tabindex="-1"
         aria-labelledby="modal_img_profile" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content container-modal">
                <button type="button" class="btn-close" id="close_modal_form_floor" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div style="width: 100%">
                    <span class="titles_on_view">Agregar nuevo tipo de espacio</span>
                    <form  id="new_details" style="display: flex;
    flex-direction: column;
    align-items: center;">
                        <div class="form-floating mb-3 " style="width: 100%;">
                            <input type="text" class="form-control styles-font-input"
                                   name="name_typespace_new" id="input_new_name_typespace"
                                   placeholder="Nombre" style="margin-top: 2%;height: 10%;">
                            <label for="input_new_space_name">Nombre del tipo de espacio</label>
                        </div>
                        <div class="form-floating mb-3 " style="width: 100%;">
                            <textarea class="form-control" name="description_typespace_new" id="input_new_description_typespace"
                                      placeholder="Descripción del details" style="height: 100px"></textarea>
                            <label for="input_new_space_name">Descripción del tipo de espacio</label>
                        </div>
                        <button type="submit"
                                class="btn-accept" style="display: flex; align-items: center; justify-content: center;">
                            Aceptar
                        </button>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_display_space" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" coteniner-modal">
                        <div class="color_degraded">
                            <i class="fas fa-trash-alt fa-8x"></i>
                        </div>
                        <label for="">¿Estás seguro/a?</label>
                        <div class="container-finish-modal">
                            <label>¿Estás seguro/a que deseas eliminar este espacio?</label>
                        </div>
                    </div>
                    <div id="btn-close-modal">
                        <button id="modal_delete_space" type="button" class="btn btn-secondar" data-bs-dismiss="modal"> Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>