<div id="right_menu">
    <div id="right_menu_container">
        <div class="d-flex justify-content-center d-flex flex-row mb-3" id="control_access">
            <div id="svg_of_cogs">
                <img src="img/cogs-solid.svg">
            </div>
            <div>
                <span style="margin-left: 5px; margin-top: 10px;" class="contorl-acces">Control de acceso</span>
            </div>
        </div>
        <div class="-flex justify-content-center">
            <div class="right-menu-icon seccionmenusi" id="menu_user">
                <button><i class="fa-solid fa-users"></i>Usuarios</button>
            </div>
            <div class="right-menu-icon" id="menu_Equipment">
                <button id="btn_menu_Equipment"><i class="fa-brands fa-searchengin"></i>Equipos</button>
            </div>
            <div class="right-menu-icon " id="menu_actions">
                <button><i class="fas fa-tools"></i>Mantenimiento</button>
            </div>
            <div class="right-menu-icon" id="menum_reports">
                <button><i class="fas fa-table"></i>Reportes</button>
            </div>
            <div class="right-menu-icon" id="menu_regionales">
                <button><i class="fa-solid fa-building-columns"></i>Regionales</button>
            </div>
            <div class="right-menu-icon" id="menu_classification">
                <button><i class="fa-solid fa-arrow-up-wide-short"></i>Clasificacion</button>
            </div>
            <div class="right-menu-icon" id="logout">
                <button><i class="fas fa-arrow-right-from-bracket"></i>Cerrar Session</button>
            </div>
        </div>
    </div>
</div>